<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from byrushan.com/projects/material-admin/app/2.6/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jul 2020 11:34:03 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='icon' href='demo/img/.png' type='image/x-icon' />
    <title>Reception Desk</title>

    <!-- icon fonts -->

    <link rel="stylesheet" href="assets/css/icon_fonts/css/icon_set_1.css">
    <link rel="stylesheet" href="assets/css/icon_fonts/css/icon_set_2.css">
    <link rel="stylesheet" href="assets/css/icon_fonts/css/icon_set_3.css">
    <link rel="stylesheet" href="assets/css/icon_fonts/css/icon_set_4.css">
    <link rel="stylesheet" href="http://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="assets/vendors/OwlCarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/OwlCarousel/assets/owl.theme.default.css">
    <link rel="stylesheet" href="assets/css/flaticon-font/flaticon.css">

    <link rel="stylesheet" href="assets/vendors/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="assets/vendors/animate.css/animate.min.css">
    <link rel="stylesheet" href="assets/vendors/jquery-scrollbar/jquery.scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="assets/vendors/select2/css/select2.min.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/vendors/dropzone/dropzone.css">
    <link rel="stylesheet" href="assets/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="assets/vendors/trumbowyg/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="assets/vendors/flatpickr/flatpickr.min.css" />
    <link rel="stylesheet" href="assets/vendors/rateyo/jquery.rateyo.min.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.min.css">
    <link rel="stylesheet" href="assets/css/daterangepicker.css">

</head>

<body data-ma-theme="green">
    <main class="main">
        <%= render "layouts/page_loader" %>

        <%= render "layouts/page_header" %>
            
        <%= render "layouts/page_sidebar" %>
        <section class="content">
            <header class="content__title px-0 border-0">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <span class="rev-title-container">
                            <h1 class="text-capitalize stream_name m-0">Check-In</h1>
                        </span>
                        <div class="">
                            <ol class="breadcrumb border-0">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item">Rooms</li>
                                <li class="breadcrumb-item active">Check-In</li>

                            </ol>

                        </div>
                    </div>

                </div>
            </header>

            <!-- Modals -->
            <div class="modal fade" id="edit_booking_details" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit Booking Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="form-group">
                                    <label for="booking_code">Booking Code <strong
                                            class="text-danger">*</strong></label>
                                    <input type="text" value="RS-202014502" id="booking_code"
                                        class="form-control posta-form validate"
                                        pattern="^[0-9']{1,100000000000000000}$" minlength="1" required
                                        placeholder="Enter postal code">
                                </div>

                                <div class="form-group">
                                    <label for="reservation_date">Date of Reservation <strong
                                            class="text-danger">*</strong></label>
                                    <input type="text" class="form-control date-picker  dob1"
                                        value="4th Aug 2020: 12:30PM" id="reservation_date"
                                        placeholder="Enter date of reservation">
                                    <input type="date" class="form-control hidden-md-up dob2 d-none"
                                        placeholder="Pick a date">
                                </div>

                                <div class="form-group">
                                    <label>Reservation Type <strong class="text-danger">*</strong></label>
                                    <select class="form-control selectpicker show-tick" data-live-search="true">
                                        <option value="Delux">Delux</option>
                                        <option value="Business">Business</option>
                                        <option value="Special">Special</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="reservation_details">Reservation Details <strong
                                            class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" value="2 Beds and Kitchen"
                                        id="reservation_details" placeholder="Enter reservation details">
                                </div>

                                <div class="form-group">
                                    <label for="reservation_duration">Reservation Duration <strong
                                            class="text-danger">*</strong></label>
                                    <input type="text" class="form-control" value="4 nights" id="reservation_duration"
                                        placeholder="Enter reservation duration">
                                </div>

                                <div class="form-group">
                                    <small class="text-muted-blue bold">Reservation Request</small>
                                    <ul class="modal-check-container">
                                        <label class="modal-container">Crib
                                            <input type="checkbox">
                                            <span class="modal-checkmark"></span>
                                        </label>

                                        <label class="modal-container">Cooking Utensils
                                            <input type="checkbox">
                                            <span class="modal-checkmark"></span>
                                        </label>

                                        <label class="modal-container">Extra Towels
                                            <input type="checkbox">
                                            <span class="modal-checkmark"></span>
                                        </label>

                                        <label class="modal-container">Diaper Disposal
                                            <input type="checkbox">
                                            <span class="modal-checkmark"></span>
                                        </label>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <small class="text-muted-blue bold">Suggested Amount</small>
                                    <h4><strong>KES 30,250</strong></h4>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger btn--icon-text px-5">Cancel</button>
                            <button type="button" class="btn btn-success btn--icon-text px-5">Save</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="checkin_bill_modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Check-In Bill</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <h6><strong>Accomodation</strong></h6>
                                <p>Presidential-Suite</p>
                                <hr>

                                <h6><strong>Features</strong></h6>
                                <ul class="pl-4">
                                    <li>Lunch</li>
                                    <li>Breakfast</li>
                                    <li>Dinner</li>
                                    <li>Bar</li>
                                </ul>
                                <hr>

                                <h6><strong>Preferences</strong></h6>
                                <ul class="pl-4">
                                    <li>Sunrise facing windows</li>
                                    <li>Working Desk and Chair</li>
                                    <li>PlayStation 4</li>
                                </ul>
                                <hr>

                                <h6><strong>Dates</strong></h6>
                                <p>16th Dec 2020 to 2nd Jan 2020</p>
                                <hr>

                                <small class="text-muted-blue bold">Suggested Amount</small>
                                <h4><strong>KES 30,250</strong></h4>
                                <hr>

                                <div class="row">
                                    <div class="col-12">
                                        <h6><strong>Payments</strong></h6>
                                    </div>
                                    <div class="col-6">
                                        <div class="radio">
                                            <input type="radio" name="payment" id="pay_now">
                                            <label class="radio__label" for="pay_now">Pay Now</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="radio">
                                            <input type="radio" name="payment" id="pay_later">
                                            <label class="radio__label" for="pay_later">Pay Later</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger btn--icon-text px-5">Cancel</button>
                            <button type="button" class="btn btn-warning btn--icon-text px-5">Print</button>
                            <a type="button" href="payement.html" class="btn btn-success btn--icon-text px-5">Save</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Modals -->

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="create-form">
                    <div class="col-12 p-0">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-5">
                                    <div class="col-lg-6 col-md-8 col-sm-12">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item">
                                                <a class="nav-link active front-desk-link" href="#"><i
                                                        class="mdi mdi-desk mr-2"></i>Front Desk</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link online-link" href="#"><i
                                                        class="mdi mdi-wifi-star mr-2"></i>Online</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-12"
                                        style="display: flex; align-content: center; justify-content: end; align-items: center;">
                                        
                                        <%= link_to bulk_check_in_path, class: "bulk-link float-right" do %>
                                            <i
                                                class="mdi mdi-account-box-multiple-outline mr-2"></i>Bulk
                                        <% end %>
                                    </div>
                                </div>
                                <%= form_with url: "server_checkin", method: :post do |form| %>
                                <div class="row clearfix form-gen-information animated fadeInRight">
                                    
                                    <div class="col-12">
                                        <h4 class="card-title">General information</h4>
                                        <h6 class="card-subtitle">Enter the form below. Fields with <strong
                                                class="text-danger">(*)</strong> are required.</h6>
                                        <hr>
                                    </div>
                                    
                                    <div class="checkbox col-12 mb-4">
                                        <input type="checkbox" id="child_check">
                                        <label class="checkbox__label" for="child_check">Child</label>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 d-none child-form">
                                        <div class="form-group">
                                            <label>ID Number/Passport Number <strong
                                                    class="text-danger">*</strong></label>
                                            <input type="text" id="child_id_no" class="form-control validate" pattern="^[a-zA-Z0-9]{Z2,30}$"
                                                minlength="2" autofocus placeholder="Enter ID number" name="id_no">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 d-none child-form">
                                        <div class="form-group">
                                            <label>Relation <strong class="text-danger">*</strong></label>
                                            <input type="text" id="parent_relation" list="relations" class="form-control validate"
                                                pattern="^[a-zA-Z]{2,30}$" minlength="2" autofocus
                                                placeholder="Enter relation to child" name="relationship">
                                            <datalist id="relations">
                                                <option>Father</option>
                                                <option>Mother</option>
                                                <option>Coach</option>
                                                <option>Teacher</option>
                                                <option>Guardian</option>
                                            </datalist>
                                        </div>
                                    </div>

                                    <div class="col-12 adult-form">
                                        <div class="form-group">
                                            <label>ID Number/Passport Number <strong
                                                    class="text-danger">*</strong></label>
                                            <input type="text" class="form-control validate"  id="parent_id_no"  pattern="^[a-zA-Z0-9]{Z2,30}$"
                                                minlength="2" autofocus placeholder="Enter ID Number" name="id_no" required>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>First name <strong class="text-danger">*</strong></label>
                                            <input type="text" class="form-control validate" pattern="^[a-zA-Z]{2,30}$"
                                                minlength="2" autofocus placeholder="Enter first name" value="mark" name="first_name" required>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Surname<strong class="text-danger">*</strong></label>
                                            <input type="text" class="form-control validate" pattern="^[a-zA-Z']{2,30}$"
                                                minlength="2" placeholder="Enter surname" value="ndungu"  name="last_name" required>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Other Name(s)</label>
                                            <input type="text" class="form-control validate"
                                                pattern="^[0-9a-zA-Z'\s]{2,100}$" minlength="2"
                                                placeholder="Enter other name(s)" value="kariuki" name="other_name">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Nationality<strong class="text-danger">*</strong></label>
                                            <select class="selectpicker form-control show-tick"
                                                title="Select nationality" placeholder="Nationality"
                                                data-live-search="true" name="nationality">
                                                <option value="0">-- select nationality --</option>
                                                <% @countries.each do |country| %>
                                                <option value="<%= country["id"] %>"><%= country["name"] %></option>
                                                <% end %>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Gender <strong class="text-danger">*</strong></label>
                                            <select class="selectpicker form-control show-tick" title="Gender"
                                                placeholder="Gender" name="gender" data-live-search="true">
                                                <option value="" selected>-- Select Gender --</option>
                                                <% @genders.each do |gender| %>
                                                <option value="<%= gender["id"] %>"><%= gender["name"] %></option>
                                                <% end %>
                                                
                                               
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <label>Date of Birth</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="pe-7s-date"></i></span>
                                            </div>
                                            <input type="date" class="form-control hidden-md-up dob2 d-none" name="dob"
                                                placeholder="Pick a date">
                                            <input type="text" class="form-control date-picker  dob1" name="dob" required
                                                placeholder="Pick a date">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 adult-form">
                                        <div class="form-group">
                                            <label>Marital status<strong
                                                    class="text-warning">(Optional)</strong></label>
                                            <select class="selectpicker form-control show-tick"
                                                title="Select marital status" placeholder="Marital Status" name="marital_status"
                                                data-live-search="true">
                                                <option value="0" selected>---Select Marital status--</option>
                                                <option value="1">Single</option>
                                                <option value="2">Married</option>
                                                <option value="3">Divorced</option>
                                                <option value="4">Widower</option>
                                                <option value="5">Widow</option>

                                            </select>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="col-12">
                                        <p class="text-success">Contact information</p>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Postal address <strong class="text-danger">*</strong></label>
                                            <input type="text" class="form-control posta-form validate"
                                                pattern="[0-9']{1,100000000000000000}" minlength="1" value="10200" required
                                                placeholder="Enter the postal address" name="postal_address">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Postal code <strong class="text-danger">*</strong></label>
                                            <input type="text" required class="form-control validate"
                                                pattern="^[0-9']{1,10000000000}$" minlength="1" value="10200"
                                                placeholder="Enter the postal code" name="postal_code">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>City<strong class="text-danger">*</strong></label>
                                            <input type="text" class="form-control city-form" required
                                                pattern="^[0-9a-zA-Z'\s]{2,100}$" minlength="1" value="Naitobi"
                                                placeholder="Enter the city name" name="city">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Country<strong class="text-danger">*</strong></label>
                                            <select name="country_id" id="" title="please select your postal country"
                                                class="form-control country-form" placeholder="Country">
                                                <option value="0">-- Select country --</option>
                                                <% @countries.each do |country| %>
                                                <option value="<%= country["id"] %>"><%= country["name"] %></option>
                                                <% end %>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Phone Number<strong class="text-danger">*</strong></label>
                                                    <input type="text" class="form-control phone-num validate"
                                                        pattern="^[0-9']{10,11}$" minlength="9" required value="0714420943"
                                                        placeholder="Enter phone number" name="phone">
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Email address<strong class="text-danger">*</strong></label>
                                                    <input type="email" class="form-control email-input validate"
                                                        pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
                                                        id="id1" required placeholder="email@email.com" value="markkaris438@gmail.com" name="email">

                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <h4 class="card-title">Booking information</h4>
                                        <h6 class="card-subtitle">Enter the form below. Fields with <strong
                                                class="text-danger">(*)</strong> are required.</h6>
                                        <hr>
                                    </div>


                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Dates<strong class="text-danger">*</strong></label>
                                            <div class="actions d-flex">
                                                <div id="reportrange"
                                                    style="cursor: pointer; padding: 10px 10px; border: 1px solid #ccc; width: 100%">
                                                    <i class="ti-calendar"></i>&nbsp;
                                                    <span name="date"></span> <i class="fa fa-caret-down"></i>
                                                </div>
                                                <button class="btn btn-success d-none text-nowrap " id="date-reset"
                                                    onclick="reset_date()">Reset Date</button>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>
                                                <strong>Select Accomodation Type</strong> <strong
                                                    class="text-danger">*</strong>
                                                <p class="d-none"><small>Select package type from options below</small>
                                                </p>
                                            </label>
                                            <select class="selectpicker form-control show-tick"
                                                title="Accoodation package" data-live-search="true" name="amenities">
                                                <option data-tokens="select">-- Select Accomodation Package --</option>
                                                <% @hotel_amenities.each do |hotel_amenity| %>
                                                <option value="<%= hotel_amenity["id"] %>"><%= hotel_amenity["hotel_amenity_name"] %></option>
                                                <% end %>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>
                                                <strong>Select Accomodation Package</strong> <strong
                                                    class="text-danger">*</strong>
                                                <p class="d-none"><small>Select package from options below</small></p>
                                            </label>
                                            <select class="selectpicker form-control show-tick"
                                                title="Accomodation package" data-live-search="true" name="room_type_id">
                                                <option data-tokens="select">-- Select Room Type --</option>
                                                <% @room_types.each do |room_type| %>
                                                <option value="<%= room_type["id"] %>"><%= room_type["room_type_description"] %></option>
                                                <% end %>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>
                                                <strong>Select Room</strong> <strong class="text-danger">*</strong>
                                                <p class="d-none"><small>Select package from options below</small></p>
                                            </label>
                                            <select class="selectpicker form-control show-tick" title="Room"
                                                data-live-search="true" name="room_id">
                                                <option data-tokens="select">-- Select Room --</option>
                                                <% @rooms.each do |room| %>
                                                <option value="<%= room["id"] %>"><%= room["room_name"] %></option>
                                                <% end %>
                                            </select>

                                        </div>
                                    </div>


                                    <div class="col-12 mb-4">
                                        <hr>
                                        <h4 class="card-title">Attachments</h4>
                                        <h6 class="card-subtitle">Attach official documents for the applicant here.</h6>
                                    </div>

                                    <label class="col-sm-12 col-md-3 form-attach" for="nat-id">
                                        <div class="id-container img-container">
                                            <span><img src="assets/demo/img/attachment-docs/identification.svg"></span>
                                            <h5>Nat ID card or Passport</h5>
                                            <p>Only <strong>.PDF files</strong> are accepted</p>
                                            <small class="text-danger"><strong>No file selected</strong></small>
                                            <!-- national id input box -->
                                            <input type="file" accept="application/pdf" id="nat-id" required
                                                class="form-control nat-id d-none" name="id_document">
                                        </div>
                                    </label>


                                    <div class="col-12 mt-5">
                                        <button type="submit" class="btn btn-success text-white btn-border mr-3 float-right btn-outline">Submit</button>
                                    </div>
                                    
                                </div>
                                 <% # form.submit %>
                                <% end %>
                                <div class="row clearfix d-none form-online animated fadeInRight">

                                    <div class="col-12 mb-3">
                                        <div class="bill-details">
                                            <h4 class="card-title">Booking retreival</h4>
                                            <h6 class="card-subtitle">Enter code sent to customer to confirm booking
                                            </h6>

                                            <form class="with-mpesa animated fade-in receipting-form">
                                                <div class="row">
                                                    <div class="col-9">
                                                        <div class="form-group">

                                                            <input type="text" class="form-control input-big w-100"
                                                                placeholder="Enter Booking Code">

                                                        </div>
                                                    </div>

                                                    <div class="col-3 d-flex justify-content-baseline align-items-center"
                                                        style="margin-bottom: 26px;">
                                                        <button
                                                            class="btn btn-secondary text-uppercase w-100 py-0 d-flex justify-content-center align-items-center"
                                                            style="height: 42px;" type="button"
                                                            onclick="show_booking_details()">Search Booking<i
                                                                class="zmdi zmdi-search p-1 font-22 ml-1"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="d-none row w-100" id="search_booking_results">
                                        <div class="col-4 ">
                                            <div class="h-100">
                                                <div class="card h-100">
                                                    <div class="card-body h-100 bill-cart">
                                                        <div class="contact-header">
                                                            <h4>Personal Details</h4>
                                                            <hr>
                                                        </div>

                                                        <small class="text-muted-blue bold bold">Full Names &
                                                            Gender</small>
                                                        <div class="d-flex justify-content-between">
                                                            <p><strong>Kelvin Njuguna Ndungu</strong></p>
                                                            <p class="ml-3">Male</p>
                                                        </div>
                                                        <hr>
                                                        <small class="text-muted-blue bold bold">Date Of Borth</small>
                                                        <p><strong>24<sup>th</sup> April 1998</strong></p>

                                                        <hr>
                                                        <small class="text-muted-blue bold">Nationality</small>
                                                        <p>Kenyan</p>
                                                        <hr>
                                                        <small class="text-muted-blue bold">KRA PIN</small>
                                                        <p>AJHU455613</p>
                                                        <hr>
                                                        <small class="text-muted-blue bold">ID Number/Passport
                                                            Number</small>
                                                        <p><strong class="d-flex align-items-center"><a href=""><i
                                                                        class="pe-7s-id mx-2"></i>XXXX XXXX</a></strong>
                                                        </p>


                                                        <div class="contact-header mt-5">
                                                            <h4>Contact details</h4>
                                                            <hr class="mb-0 mt-1">
                                                        </div>

                                                        <small class="text-muted-blue bold">Mobile phone number</small>
                                                        <p><a href="tel:0704549859">0704549859</a></p>
                                                        <hr>
                                                        <small class="text-muted-blue bold">Email address</small>
                                                        <p><a
                                                                href="mailto:<nowiki> agentavery@sample.com">email@email.com</a>
                                                        </p>
                                                        <hr>
                                                        <small class="text-muted-blue bold">Postal Address</small>
                                                        <p>PO BOX 1234-00100 Nairobi, Kenya</p>

                                                        <div class="receipt_details_button mt-4">
                                                            <button class="btn btn-card-transfer btn--icon-text"
                                                                data-toggle="modal"
                                                                data-target="#edit_customer_details">Edit<i
                                                                    class="zmdi zmdi-edit mx-2"></i></button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-8">
                                            <div class="h-100">
                                                <div class="card h-100">
                                                    <div class="card-body h-100 bill-cart">
                                                        <div class="contact-header">
                                                            <h4>Booking Details</h4>
                                                            <hr>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4 col-sm-12">
                                                                <small class="text-muted-blue bold bold">Booking
                                                                    Code</small>
                                                                <div class="d-flex justify-content-between">
                                                                    <p><strong>RS-202014502</strong></p>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4 col-sm-12">
                                                                <small class="text-muted-blue bold bold">Date of
                                                                    Reservation</small>
                                                                <div class="d-flex justify-content-between">
                                                                    <p><strong>4th Aug 2020: 12:30PM</strong></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>

                                                        <div class="row">

                                                            <div class="col-lg-4 col-sm-12">
                                                                <small class="text-muted-blue bold">Reservation</small>
                                                                <p><strong>Presidential Suite</strong></p>
                                                            </div>

                                                            <div class="col-lg-4 col-sm-12">
                                                                <small class="text-muted-blue bold">Reservation
                                                                    Detail</small>
                                                                <p><strong>2 Beds and Kitchen</strong></p>
                                                            </div>

                                                            <div class="col-lg-4 col-sm-12">
                                                                <small class="text-muted-blue bold">Reservation
                                                                    Duration</small>
                                                                <p><strong>4 Nights</strong></p>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <small class="text-muted-blue bold">Reservation
                                                                    Request</small>
                                                                <ul class="a">
                                                                    <li>Crib</li>
                                                                    <li>Cooking Utensils</li>
                                                                    <li>Extra Towels</li>
                                                                    <li>Diaper Disposal</li>
                                                                </ul>
                                                            </div>

                                                        </div>

                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-lg-4 col-sm-12">
                                                                <small class="text-muted-blue bold">Suggested
                                                                    Amount</small>
                                                                <h4><strong>KES 30,250</strong></h4>
                                                            </div>

                                                            <div class="col-12">
                                                                <div class="receipt_details_button">
                                                                    <button
                                                                        class="btn btn-card-transfer btn_edit_booking_details btn--icon-text"
                                                                        data-toggle="modal"
                                                                        data-target="#edit_booking_details">Edit<i
                                                                            class="zmdi zmdi-edit mx-2"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <!-- hide fater searching for bill successfully -->
                                    <div class="w-100 search-img h-320" id="before_search_booking_img">
                                        <center>
                                            <img src="assets/demo/img/form-svgs/search-rec.svg">

                                            <h4>Search for booking first</h4>
                                        </center>
                                    </div>


                                    <div class="col-12 mt-5">
                                        <a class="btn btn-success text-white btn-border mr-3 float-right btn-outline"
                                            href="payement.html"><i class="mr-3 zmdi zmdi-check-all"></i>Submit </a>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <footer class="footer hidden-xs-down">
                <p>A product of Nouveta</p>
            </footer>
        </section>
    </main>

    <!-- Older IE warning message -->
    <!--[if IE]>
                <div class="ie-warning">
                    <h1>Warning!!</h1>
                    <p>You are using an outdated version of Internet Explorer, please upgrade to any of the following web browsers to access this website.</p>

                    <div class="ie-warning__downloads">
                        <a href="http://www.google.com/chrome">
                            <img src="img/browsers/chrome.png" alt="">
                        </a>

                        <a href="https://www.mozilla.org/en-US/firefox/new">
                            <img src="img/browsers/firefox.png" alt="">
                        </a>

                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                        </a>

                        <a href="https://support.apple.com/downloads/safari">
                            <img src="img/browsers/safari.png" alt="">
                        </a>

                        <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">
                            <img src="img/browsers/edge.png" alt="">
                        </a>

                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                        </a>
                    </div>
                    <p>Sorry for the inconvenience!</p>
                </div>
            <![endif]-->

    <!-- Javascript -->
    <!-- Vendors -->
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="assets/vendors/jquery-scrollLock/jquery-scrollLock.min.js"></script>

    <script src="assets/vendors/flot/jquery.flot.js"></script>
    <script src="assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="assets/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="assets/vendors/jqvmap/jquery.vmap.min.js"></script>
    <script src="assets/vendors/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="assets/vendors/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="assets/vendors/salvattore/salvattore.min.js"></script>
    <script src="assets/vendors/sparkline/jquery.sparkline.min.js"></script>
    <script src="assets/vendors/moment/moment.min.js"></script>
    <script src="assets/vendors/fullcalendar/fullcalendar.min.js"></script>

    <script src="assets/vendors/jquery-mask-plugin/jquery.mask.min.js"></script>
    <script src="assets/vendors/select2/js/select2.full.min.js"></script>
    <script src="assets/vendors/dropzone/dropzone.min.js"></script>
    <script src="assets/vendors/moment/moment.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/trumbowyg/trumbowyg.min.js"></script>
    <script src="assets/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="assets/vendors/rateyo/jquery.rateyo.min.js"></script>
    <script src="assets/vendors/jquery-text-counter/textcounter.min.js"></script>
    <script src="assets/vendors/autosize/autosize.min.js"></script>
    <script src="assets/vendors/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <!-- Charts and maps-->
    <script src="assets/demo/js/flot-charts/curved-line.js"></script>
    <script src="assets/demo/js/flot-charts/dynamic.js"></script>
    <script src="assets/demo/js/flot-charts/line.js"></script>
    <script src="assets/demo/js/flot-charts/chart-tooltips.js"></script>
    <script src="assets/demo/js/other-charts.js"></script>
    <script src="assets/demo/js/jqvmap.js"></script>

    <!--high chart-->
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>

    <!-- Vendors: Data tables -->
    <script src="assets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/vendors/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="assets/vendors/datatables-buttons/buttons.print.min.js"></script>
    <script src="assets/vendors/jszip/jszip.min.js"></script>
    <script src="assets/vendors/datatables-buttons/buttons.html5.min.js"></script>

    <script src="assets/vendors/highcharts/highchart.js"></script>
    <script src="assets/vendors/highcharts/data.js"></script>
    <script src="assets/vendors/highcharts/drilldown.js"></script>
    <script src="assets/vendors/highcharts/exporting.js"></script>
    <script src="assets/vendors/highcharts/export-data.js"></script>
    <script src="assets/vendors/highcharts/accesibility.js"></script>
    <script src="assets/vendors/daterangepicker/daterangepicker.min.js"></script>
    <script src="assets/js/highcharts/bullet.js"></script>

    <script src="assets/js/highcharts/highcharts-more.js"></script>
    <script src="assets/js/highcharts/theme1.js"></script>
    <!--owl corousel-->
    <script src="assets/vendors/OwlCarousel/owl.carousel.min.js"></script>


    <!-- App functions and actions -->
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script src="assets/js/chart-data/revenue-targets.js"></script>
    <script src="assets/js/chart-data/revenue-streams.js"></script>
    <script src="assets/js/chart-data/revenue-by-bank.js"></script>
    <script src="assets/js/chart-data/revenue-collected.js"></script>
    <script src="assets/js/chart-data/perfomance.js"></script>
    <script src="assets/js/chart-data/hourly-revenue-collection.js"></script>


    <!--map scripts-->

    <script src="assets/js/chart-data/map-data.js"></script>





</body>

<!-- Mirrored from byrushan.com/projects/material-admin/app/2.6/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jul 2020 11:34:43 GMT -->

</html>