<% @rooms.each do |room| %>
      <tr>
        <td><%= room["id"] %></td>
        <td><%= room["room_name"] %></td>
        <td><%= room["room_no"] %></td>
        <td><%= room["room_type_description"] %></td>
        <td><%= room["hotel_name"] %></td>
        <td><%= room["hotel_wing"] %></td>
        <td><%= room["room_price"] %></td>
        <td>
           <button class="btn btn-info btn-sm btn--icon-text ml-2" title="details of laundered item"  data-toggle="modal" data-target="#laundry-details"><i class="zmdi zmdi-eye"></i>Details</button>													
        </td>
      </tr>
<% end %>